@font-face {
  src         : url('../fonts/PassionOne-Black.ttf');
  font-family : Passion;
  font-weight : 600;
}
@font-face {
  src         : url('../fonts/PassionOne-Bold.ttf');
  font-family : Passion;
  font-weight : bold;
}
@font-face {
  src         : url('../fonts/PassionOne-Regular.ttf');
  font-family : Passion;
  font-weight : 400;
}
@font-face {
  src         : url('../fonts/PriceDow.otf');
  font-family : PriceDow;
  font-weight : 400;
}