@import 'src/assets/style/variables';
@import 'src/assets/style/mixin';
@import 'src/assets/style/fonts';

.L-loading-bg-container {
  width            : 100%;
  height           : 100vh;
  background-image : url('../../assets/images/naviagtorReloadFull.jpg');
  background-position :center;
  background-size : cover;
}

