@import 'src/assets/style/variables';
@import 'src/assets/style/mixin';
@import 'src/assets/style/fonts';

.L-loading-container {
  width  : 100%;
  height : 100vh;

  .L-reload-logo {
	width               : 650px;
	height              : 600px;
	animation           : fade-out 3500ms;
	animation-fill-mode : forwards;
	@include screen-max-width-1300 {
	  width  : 450px;
	  height : 410px;
	}
	@include screen-max-width-991 {
	  width  : 350px;
	  height : 320px;
	}
	@include screen-max-width-576 {
	  width  : 300px;
	  height : 275px;
	}
  }

  .text-typing {
	margin-top : 100px;
	@include screen-max-width-1300 {
	  margin-top : 60px;
	}
	@include screen-max-width-991 {
	  margin-top : 30px;
	  text-align : center;
	}


	.name {
	  color                   : rgba(255, 215, 0, 0.66);
	  font-size               : $font-size-48;
	  letter-spacing          : 16px;
	  margin                  : 16px auto;
	  font-weight             : 100;
	  font-family             : Passion;
	  background              : -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
	  background-size         : 110px 100%;
	  -webkit-background-clip : text;
	  animation               : flick 5s infinite;
	  @include screen-max-width-1300 {
		font-size      : $font-size-48;
		letter-spacing : 12px;
	  }
	  @include screen-max-width-991 {
		font-size      : $font-size-36;
		letter-spacing : 8px;
	  }
	  @include screen-max-width-576 {
		font-size : $font-size-24;
	  }
	}
  }
}

@keyframes fade-out {
  0% {
	opacity : 0;
  }
  100% {
	opacity : 1;
  }
}
@keyframes flick {
  0% {
	background-position : top left;
  }
  50% {
	background-position : top right;
  }
  100% {
	background-position : top left;
  }
}
