@import 'src/assets/style/variables';
@import 'src/assets/style/mixin';


.L-loading-container {
  width  : 100%;
  height : 100vh;

  .L-reload-logo {
	width               : 650px;
	height              : 600px;
	animation           : fade-out 3500ms;
	animation-fill-mode : forwards;
  }

  .text-typing {
	margin-top : 100px;
	font-size  : 200px;

	.name {
	  color                   : rgba(255, 215, 0, 0.66);
	  font-size               : $font-size-48;
	  letter-spacing          : 1rem;
	  margin                  : 1rem auto;
	  font-family             : Passion;
	  font-weight             : 100;
	  background              : -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
	  background              : gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
	  background-size         : 110px 100%;
	  -webkit-background-clip : text;
	  background-clip         : text;
	  animation               : flick 5s infinite;

	}
  }


}
@keyframes fade-out {
  0% {
	opacity : 0;
  }
  100% {
	opacity : 1;
  }
}
@keyframes flick {
  0% {
	background-position : top left;
  }
  50% {
	background-position : top right;
  }
  100% {
	background-position : top left;
  }
}
