@import 'src/assets/style/variables';
@import 'src/assets/style/mixin';
@import 'src/assets/style/fonts';

.L-loading-bg-container {
  width               : 100%;
  height              : 100%;
  background-image    : url('../../assets/images/naviagtorReloadFulll.jpg');
  background-position : center;
  background-size     : cover;
  z-index             : 9999;
  position            : fixed;
}

